body{
    font-family: 'Roboto', sans-serif;
}
/* Topo */
header{
    width:100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

header .info{
    width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .info img{
    width: 75px;
    height: 53px;
    object-fit: fill;
}

header .info ion-icon{
    font-size: 45px;
}
/* Chat */

.conversa{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 507px;
    position: fixed;
    top: 80px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #F3F3F3;
}
main .comentario{
    width: 100%;
    margin-bottom: 4px;
    display: flex;
    box-sizing: border-box;
    padding: 13px 8px 13px 8px;
    word-break: break-all;
}

main .comentario p{
    word-wrap: break-word;
    font-size: 14px;
    line-height: 16.41px;
    
}
main > div:first-child{
    margin-top: 26px;
}

.status{
    background-color: #DCDCDC;
}

.reservado{
    background-color: #FFDEDE ;
}

.publico{
    background-color: #FFFFFF;
}
b{
    font-weight: 700;
}

.hora{
    color: #AAAAAA;
    
}

/* Inserção de texto */

footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer input{
    width: 300px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: #000000;
    color: #000000;
    border: none;
}

footer input::placeholder{
    color: #000000;
    font-style: normal;
}
footer ion-icon{
    font-size: 26px;
}

footer .digitar-mensagem{
    width: 300px;
    display: flex;
    flex-direction: column;
}

footer .digitar-mensagem p{
    font-size: 14px;
    font-weight: 300;
    color: #AAAAAA;
}
/* Login */
.inicio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio img{
    width: 130px;
    height: 92px;
    object-fit: fill;
    margin: 72px auto 94px;
}

.inicio input {
    width: 260px;
    height: 54px;
    text-align: center;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    
}

.inicio input ::placeholder{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #AEAEAE;
}

.inicio button{
    width: 109px;
    height: 45px;
    margin-top: 15px;
    text-align: center;
    border: none;
    border-radius: 9px;
    background-color: #E7E7E7;
    font-size: 18px;
    font-weight: 400;
    color: #696969;
}
.inicio button:hover{
    cursor: pointer;
    filter: brightness(1.02);
}

.inicio .nome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio .loading{
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-family: 400;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;  
    z-index: 1;
}

.opaco{
    width: calc(100% - 259px);
    height: 667px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}
/* Barra lateral*/
.sidebar{
    width: 259px;
    height: 667px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0px;
    z-index: 2;
}
.sidebar p{
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    
}

.sidebar h3{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.sidebar .info-contato{
    width: 259px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4px;
    
}

.sidebar .lista{
    width: 259px;
    max-height: 432px;
    overflow-y: scroll;
}
.sidebar .contato{
    width: 259px;
    height: 36px;
    display: flex;
    align-items: center;
}

.sidebar .contato ion-icon{
    font-size: 24px;
    margin-left: 20px;
    
}
.sidebar .contato .user{
    width: 194px;
    text-align: start;
    overflow-x: hidden;
    margin-left: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .contato .user ion-icon{
    font-size: 12px;
    color: #28BB25;
    margin-right: 16px;
    display: none;
}



.sidebar .info-visibilidade{
    width: 259px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .estilo{
    width: 259px;
    height: 36px;
    display: flex;
    align-items: center;
}


.sidebar .estilo ion-icon{
    font-size: 24px;
    margin-left: 20px;
    
}

.sidebar .estilo .tipo{
    width: 194px;
    text-align: start;
    overflow-x: hidden;
    margin-left: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .estilo .tipo ion-icon{
    font-size: 12px;
    color: #28BB25;
    margin-right: 16px;
    display: none;
}



.escondido {
    display: none;
}

.selecionado{
    display: flex;
}

.selecionado ion-icon{
    display: flex;
}